.header {
  background-color: var(--neutral-800);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  background-color: var(--primary-500);
  height: 3rem;
  width: 3rem;
  margin: 0.8rem;
}